.bgimg {
  background-image: url('../assets/historyback.jpg');
  background-size: cover;  /* Ensures the image covers the entire div */
  background-position: center;  /* Centers the image within the div */
  height: 110vh;  /* Adjusts the height as needed */
  width: 100%;  /* Ensures the div takes up the full width */
  border-bottom: 2px solid  #F7931A;
}

.sentence1 {
  font-size: 20px;
  margin-top: 250px;
  margin-left: 300px;
}

/* YourComponent.css */
#visit {
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Aligns the row at the bottom of the container */
  
}

.spacecraft {
  font-size: 200px;
  white-space: nowrap;
  line-height: 9.7rem;
  margin-top: 550px;
 
  
  
}

